.tiles-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  .tile-wrapper {
    margin: 10px 10px 0;
  }

  .create-btns-container {
    margin-top: 20px;
  }
}

