
@page-background-color: #f0f2f5;
@table-cell-background-color: #fff;
@star-border-color: #737394;
@star-filled-color: orange;
@text-color: #26273b;

::ng-deep .event-reviews .ant-table .ant-table-row td {
  padding: 16px 16px !important;
  border-radius: 6px !important;
}

.profile-thumbnail {
  vertical-align: top;
}

.table-container {
  background-color: @page-background-color;
  padding-top: 10px;
}

.div-header{
  font-family: Open Sans;
  font-size: 12px;
  color: @star-border-color;
}

.fa-star-o{
    color: @star-border-color;
    padding: 10px;
}
.fa-star{
  color: @star-filled-color;
  padding: 10px;
}
.fa-star-half-o{
  color: @star-filled-color;
  padding: 10px;
}
.review-date{
  margin-left: 6px;
  font-family: Open Sans;
  font-size: 14px;
  color: @star-border-color;
}
.reviewer-name{
  font-family: Open Sans;
  font-size: 14px;
  color: @text-color;
}
.review-msg{
  font-family: Open Sans;
  font-size: 16px;
  color: @text-color;
}

.float-right {
  float:right;
}