<div class="table-container event-reviews">
  <leap-table-control-panel>
    <leap-table-search data-section="right" (searchPhraseChange)="onSearch($event)"></leap-table-search>
  </leap-table-control-panel>
  <nz-table
    [nzFrontPagination]="false"
    [nzData]="courseReviews$ | async"
    [nzLoading]="loading$ | async"
    [nzPageSize]="pageSize$ | async"
    [nzTotal]="total$ | async"
    [nzPageIndex]="pageIndex$ | async"
    [nzNoResult]="noResultsText"
    (nzQueryParams)="onQueryParamsChange($event)"
    #courseReviewsTable
    leapTableGrid
  >
    <thead>
      <tr>
        <th nzColumnKey="updatedAt" nzWidth="5%" [nzSortFn]="true" [nzEllipsis]="true">Most Recent</th>
        <th nzColumnKey="rating" nzWidth="48%" [nzEllipsis]="true" [nzFilters]="filterRating" [nzFilterFn]="true">
          All Ratings
        </th>
        <th nzColumnKey="ratingType" nzWidth="47%" [nzEllipsis]="true" [nzFilters]="filterReview" [nzFilterFn]="true">
          All Reviews
        </th>
        <th nzWidth="34px"></th>
      </tr>
    </thead>
    <tbody>
      <tr leapTableGridSpacer></tr>
      <tr *ngFor="let data of courseReviewsTable.data; let i = index; trackBy: trackByFn" leapTableGridRow>
        <td colspan="5" class="course-event">
          <div class="course-event-section flex">
            <div class="thumbnail-section">
              <img width="72" src="{{ data.courseEvent.thumbnailUrl }}" />
            </div>
            <div class="course-event-content">
              {{ data.courseEvent.language.configValue }}
            </div>
            <div class="course-event-content" *ngIf="data.courseEvent.startDate && data.courseEvent.endDate">
              {{ formatDate(data.courseEvent.startDate, 'event') }} -
              {{ formatDate(data.courseEvent.endDate, 'event') }}
            </div>
            <div class="course-event-content" *ngIf="data.courseEvent.location">
              {{ data.courseEvent.location.country }}
            </div>
            <div class="course-event-content" *ngIf="data.courseEvent.virtualVenue">
              Virtual
            </div>
          </div>
          <div class="flex">
            <div class="review-section">
              <div>
                <span *ngIf="!data.anonymous" class="reviewer-name"
                  >{{ data.reviewer.firstName }} {{ data.reviewer.lastName }}</span
                >
                <span class="review-date">{{ formatDate(data.updatedAt, 'review') }}</span>
                <span class="float-right">
                  <button
                    *ngIf="data.showDeleteButton"
                    leapTableGridRowCtaButton
                    [leapTableGridRowCtaButtonDanger]="true"
                    (click)="deleteCourseReview($event, data.id, data.courseEvent.id)"
                  >
                    <i class="fal fa-trash-alt"></i>
                    Delete Review
                  </button>
                </span>
              </div>
              <div>
                <i
                  *ngFor="let n of range; let $index = index"
                  class="to-display fa"
                  [ngClass]="isMarkedOthers(data.rating, $index)"
                ></i>
                <span class="review-date">Rating</span>
              </div>
              <div *ngIf="data.message" class="review-msg">
                {{ data.message }}
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
