<div class="breadcrumb">
  <nz-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a [routerLink]="['/', 'admin', 'ilt-events']">Instructor-led Course Events</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      New Course Event
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<nz-content class="admin-panel__content">
  <leap-creation-stepper-step-base>
    <div class="flex justify-between" *ngIf="iltEventBase$ | async as iltEventBase; else skeleton">
      <div>
        <leap-creation-stepper-step-base-header entityName="{{ iltEventBase.course?.name }}">
        </leap-creation-stepper-step-base-header>
        <leap-creation-stepper-step-base-entry
          label="Type"
          value="{{ iltEventBase.historical ? 'Past ' : 'New ' }} Instructor-led Course Event"
        >
        </leap-creation-stepper-step-base-entry>
        <leap-creation-stepper-step-base-entry
          label="Delivery"
          value="{{ iltEventBase.classEvent?.virtualVenue ? 'Virtual (VILT)' : 'Classroom (ILT)' }}"
        >
        </leap-creation-stepper-step-base-entry>
      </div>
      <div class="flex">
        <img
          class="publish-icon"
          [src]="
            environmentService.assetsPath +
            (iltEventBase?.course?.publishStatus === 'published'
              ? '/published-to-lxp.svg'
              : '/not-published-to-lxp.svg')
          "
          alt="Published"
        />
        <span>
          {{
            iltEventBase?.course?.publishStatus === 'published'
              ? 'Parent Course is Published to LXP'
              : 'Parent Course is not Published to LXP'
          }}
          <a
            *ngIf="iltEventBase?.course?.publishStatus === 'published'"
            href="{{ '/hw/admin/ilt-courses/details/' + iltEventBase?.course.parentId }}"
            rel="noopener noreferrer"
            target="_blank"
          >
            (View Course)
          </a>
        </span>
      </div>
    </div>
  </leap-creation-stepper-step-base>
</nz-content>

<div style="height: 15px"></div>

<div *ngIf="iltEventCreationStep$ | async as step" class="main-container">
  <div nz-row nzType="flex" nzJustify="center" style="background-color: white;">
    <div nz-col nzSpan="17">
      <div class="stepper-container">
        <nz-steps [nzCurrent]="stepIndex(step)" nzSize="default" nzLabelPlacement="vertical">
          <nz-step nzTitle="Materials" [nzIcon]="materialsStepIconTemplate"></nz-step>
          <nz-step nzTitle="Course Details" [nzIcon]="detailsStepIconTemplate"></nz-step>
          <nz-step nzTitle="Course Agenda" [nzIcon]="agendaStepIconTemplate"></nz-step>
          <nz-step nzTitle="Scheduling" [nzIcon]="agendaStepIconTemplate"></nz-step>
          <nz-step nzTitle="Summary" [nzIcon]="summaryStepIconTemplate"></nz-step>
        </nz-steps>
      </div>
    </div>
  </div>
  <div
    nz-row
    nzType="flex"
    nzJustify="center"
    *ngIf="(iltEvent$ | async)?.response as iltEvent"
    [ngStyle]="step !== ILTEventCreationStep.SUMMARY ? { 'background-color': 'white' } : {}"
  >
    <div nz-col [nzSpan]="step !== ILTEventCreationStep.SUMMARY ? 20 : 24">
      <ng-container *ngIf="step === ILTEventCreationStep.MATERIALS">
        <leap-ilt-event-create-materials-step [iltEvent]="iltEvent"></leap-ilt-event-create-materials-step>
      </ng-container>
      <ng-container *ngIf="step === ILTEventCreationStep.DETAILS">
        <leap-ilt-event-create-details-step [iltEvent]="iltEvent"></leap-ilt-event-create-details-step>
      </ng-container>
      <ng-container *ngIf="step === ILTEventCreationStep.AGENDA">
        <leap-ilt-event-create-agenda-step [iltEvent]="iltEvent"></leap-ilt-event-create-agenda-step>
      </ng-container>
      <ng-container *ngIf="step === ILTEventCreationStep.SCHEDULING">
        <leap-ilt-event-create-scheduling-step [iltEvent]="iltEvent"></leap-ilt-event-create-scheduling-step>
      </ng-container>
      <ng-container *ngIf="step === ILTEventCreationStep.SUMMARY">
        <leap-ilt-event-create-summary-step [iltEvent]="iltEvent"></leap-ilt-event-create-summary-step>
      </ng-container>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center" *ngIf="(iltEvent$ | async)?.isPending" style="margin-top:20px">
    <nz-spin nzSimple nzSize="large"></nz-spin>
  </div>
</div>

<ng-template #materialsStepIconTemplate>
  <i style="font-size: 16px" class="fal fa-flag"></i>
</ng-template>
<ng-template #detailsStepIconTemplate>
  <i style="font-size: 16px" class="fal fa-list-alt"></i>
</ng-template>
<ng-template #agendaStepIconTemplate>
  <i style="font-size: 16px" class="fal fa-calendar"></i>
</ng-template>
<ng-template #summaryStepIconTemplate>
  <svg
    version="1.2"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    overflow="visible"
    preserveAspectRatio="none"
    viewBox="0 0 499.8999938964844 514"
    xml:space="preserve"
    y="0px"
    x="0px"
    id="Layer_1_1574341107466"
    width="16"
    height="16"
  >
    <g transform="translate(1, 1)">
      <path
        d="M143.8,223.8h166.5c2,0,3.7-1.7,3.7-3.7v-14.8c0-2-1.7-3.7-3.7-3.7H143.8c-2,0-3.7,1.7-3.7,3.7v14.8  C140.1,222.1,141.7,223.8,143.8,223.8z"
        vector-effect="non-scaling-stroke"
        style="fill: rgb(142, 143, 166);"
      />
      <path
        d="M143.8,311.4H228l14-14v-4.5c0-2-1.7-3.7-3.7-3.7h-94.5c-2,0-3.7,1.7-3.7,3.7v14.8C140.1,309.7,141.7,311.4,143.8,311.4z"
        vector-effect="non-scaling-stroke"
        style="fill: rgb(142, 143, 166);"
      />
      <path
        d="M105.5,190.4H75.9c-4.1,0-7.4,3.3-7.4,7.4v29.6c0,4.1,3.3,7.4,7.4,7.4h29.6c4.1,0,7.4-3.3,7.4-7.4v-29.6  C112.9,193.8,109.6,190.4,105.5,190.4z"
        vector-effect="non-scaling-stroke"
        style="fill: rgb(142, 143, 166);"
      />
      <path
        d="M141.3,136.1h54.5c0.7,0,1.2-1.7,1.2-3.7v-14.8c0-2-0.5-3.7-1.2-3.7h-54.5c-0.7,0-1.2,1.7-1.2,3.7v14.8  C140.1,134.5,140.6,136.1,141.3,136.1z"
        vector-effect="non-scaling-stroke"
        style="fill: rgb(142, 143, 166);"
      />
      <path
        d="M105.5,102.8H75.9c-4.1,0-7.4,3.3-7.4,7.4v29.6c0,4.1,3.3,7.4,7.4,7.4h29.6c4.1,0,7.4-3.3,7.4-7.4v-29.6  C112.9,106.1,109.6,102.8,105.5,102.8z"
        vector-effect="non-scaling-stroke"
        style="fill: rgb(142, 143, 166);"
      />
      <path
        d="M105.5,365.7H75.9c-4.1,0-7.4,3.3-7.4,7.4v29.6c0,4.1,3.3,7.4,7.4,7.4h29.6c4.1,0,7.4-3.3,7.4-7.4v-29.6  C112.9,369,109.6,365.7,105.5,365.7z"
        vector-effect="non-scaling-stroke"
        style="fill: rgb(142, 143, 166);"
      />
      <path
        d="M183.5,376.8h-39.7c-2,0-3.7,1.7-3.7,3.7v14.8c0,2,1.7,3.7,3.7,3.7h36.5L183.5,376.8z"
        vector-effect="non-scaling-stroke"
        style="fill: rgb(142, 143, 166);"
      />
      <path
        d="M105.5,278.1H75.9c-4.1,0-7.4,3.3-7.4,7.4v29.6c0,4.1,3.3,7.4,7.4,7.4h29.6c4.1,0,7.4-3.3,7.4-7.4v-29.6  C112.9,281.4,109.6,278.1,105.5,278.1z"
        vector-effect="non-scaling-stroke"
        style="fill: rgb(142, 143, 166);"
      />
      <path
        d="M352,361.9V464c0,8.8-7.2,16-16,16H48c-8.8,0-16-7.2-16-16V48c0-8.8,7.2-16,16-16h176v104c0,13.3,10.7,24,24,24h104v74.9  l32-32v-71c0-12.7-5.1-25-14.1-34L286,14c-9-9-21.2-14.1-33.9-14.1H48C21.5,0,0,21.5,0,48v416c0,26.5,21.5,48,48,48h288  c26.5,0,48-21.5,48-48V329.9L352,361.9z M256,32.5c2.8,0.7,5.3,2.1,7.4,4.2l83.9,83.9c2.1,2.1,3.5,4.6,4.2,7.4H256V32.5z"
        vector-effect="non-scaling-stroke"
        style="fill: rgb(142, 143, 166);"
      />
      <path
        d="M490.7,195l-35.3-35.3c-5.6-5.6-13.1-8.7-21-8.7c-7.9,0-15.3,3.1-21,8.7l-210,209.9l-0.4,0.4l-7.6,67.6  c-0.5,4.5,1,8.9,3.9,12.2c2.9,3.3,7.2,5.2,11.6,5.2c0.4,0,0.7,0,1-0.1c0.2,0,0.4,0,0.6,0l67.3-7.5l0.5-0.1l210.3-210.3  C502.2,225.5,502.2,206.6,490.7,195z M424.7,268.5L269.2,424l-48,5.3l5.3-48L382,225.8L424.7,268.5z M473.3,219.7l-31.4,31.4  l-42.7-42.7l31.4-31.4c1-1,2.3-1.6,3.6-1.6c1.4,0,2.8,0.6,3.7,1.6l35.3,35.3C475.3,214.4,475.3,217.7,473.3,219.7z"
        vector-effect="non-scaling-stroke"
        style="fill: rgb(142, 143, 166);"
      />
    </g>
  </svg>
</ng-template>

<ng-template #skeleton>
  <div style="width: 90%">
    <nz-skeleton [nzActive]="true" style="margin-left:15px;" [nzParagraph]="{ rows: 2 }"></nz-skeleton>
  </div>
</ng-template>
