<div class="table-container">
  <nz-content class="admin-panel__content">
    <p class="section-header">
      This certificate is associated with the following courses:
    </p>

    <leap-table-control-panel>
      <leap-table-search
        data-section="right"
        (searchPhraseChange)="onSearchChange($event)"
        class="certificate-search"
      ></leap-table-search>
    </leap-table-control-panel>
  </nz-content>

  <nz-content class="admin-panel__content">
    <nz-table
      leapTableGrid
      [nzFrontPagination]="false"
      [nzShowQuickJumper]="true"
      [nzData]="courses$ | async"
      [nzLoading]="loading$ | async"
      [nzPageSize]="pageSize$ | async"
      [nzTotal]="total$ | async"
      [nzPageIndex]="pageIndex$ | async"
      (nzQueryParams)="onQueryParamsChange($event)"
      [nzNoResult]="noCourses"
      #certificateCoursesTable
    >
      <thead>
        <tr>
          <th nzColumnKey="name" nzWidth="60%" [nzSortFn]="true" [nzEllipsis]="true">Course Name</th>
          <th nzColumnKey="categoryName" nzWidth="20%" [nzSortFn]="true" [nzEllipsis]="true">Course Type</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let course of certificateCoursesTable.data; trackBy: trackByFn"
          leapTableGridRow
          [leapTableGridRowClickable]="true"
          [routerLink]="['/admin', 'ilt-courses', 'details', course.id]"
        >
          <td [nzEllipsis]="true">{{ course.name | titlecase }}</td>
          <td [nzEllipsis]="true">{{ course.format.configValue }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</div>
<ng-template #noCourses>
  <nz-empty
    nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
    [nzNotFoundContent]="noResultsText"
  ></nz-empty>
</ng-template>
