<nz-layout class="page-layout">
  <leap-navbar [isAdminPanel]="true"></leap-navbar>
  <nz-layout>
    <nz-sider nzWidth="330px" class="page-layout__sidebar">
      <div class="page-layout__sidebar-menu">
        <leap-t-menu *ngIf="menuConfig?.items?.length" [config]="menuConfig"></leap-t-menu>
      </div>
    </nz-sider>
    <nz-layout class="page-layout__main">
      <nz-layout class="page-layout__content">
        <router-outlet></router-outlet>
      </nz-layout>
      <nz-footer class="page-layout__footer">
        <leap-footer></leap-footer>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
