<leap-cta-container>
  <h1 leap-cta-container-title>Instructors</h1>
  <ng-container slot="buttons">
    <button class="admin-panel__slim-button" nz-button nzType="primary" (click)="onCreateInstructor()">
      Add Instructor
    </button>
  </ng-container>
  <h2 leap-cta-container-description>
    Here you can view any employees and/or contacts that can or have delivered course events in your organization.
  </h2>
</leap-cta-container>
<div class="p-t-10">
  <leap-table-control-panel>
    <leap-table-search
      data-section="right"
      (searchPhraseChange)="onSearchChange($event)"
      class="instructor-search"
    ></leap-table-search>
  </leap-table-control-panel>

  <nz-table
    nzTableLayout="fixed"
    leapTableGrid
    [nzFrontPagination]="false"
    [nzData]="instructors$ | async"
    [nzLoading]="loading$ | async"
    [nzPageSize]="pageSize$ | async"
    [nzTotal]="total$ | async"
    [nzPageIndex]="pageIndex$ | async"
    (nzQueryParams)="onQueryParamsChange($event)"
    #instructorsTable
  >
    <thead>
      <tr>
        <th nzColumnKey="firstName" nzWidth="45%" [nzSortFn]="true" [nzEllipsis]="true">Name</th>
        <th nzColumnKey="userName" nzWidth="50%" [nzSortFn]="true" [nzEllipsis]="true">Email</th>
        <th nzWidth="5%"></th>
      </tr>
    </thead>
    <tbody
      nz-tooltip
      nzTooltipTitle="Open Instructor Details"
      nzTooltipPlacement="bottomRight"
      nzTooltipColor="#26273b"
      nzTooltipOverlayClassName="admin-panel__cta-tooltip"
      [nzTooltipTrigger]="null"
      leapTableGridRowTooltip
    >
      <tr leapTableGridSpacer></tr>
      <tr
        *ngFor="let instructor of instructorsTable.data; trackBy: trackByFn"
        leapTableGridRow
        [leapTableGridRowClickable]="true"
        [routerLink]="['details', instructor.id]"
      >
        <td [nzEllipsis]="true">
          <span>{{ getName(instructor) }}</span>
        </td>
        <td [nzEllipsis]="true">
          <span>{{ instructor.userName }}</span>
        </td>

        <td leap-table-grid-details-cell></td>
      </tr>
    </tbody>
  </nz-table>
</div>
