<nz-tabset nzType="card" class="admin-panel__card-tabset" *ngIf="iltCourse$ | async as iltCourse">
  <nz-tab nzTitle="Details">
    <leap-ilt-course-general-details
      [iltCourse]="iltCourse.response"
      *ngIf="!iltCourse.isPending; else spinnerTemplate"
    ></leap-ilt-course-general-details>
  </nz-tab>
  <nz-tab nzTitle="LXP Settings" *ngIf="iltCourse.response.lxpCourses?.length">
    <leap-course-lxp-settings
      *ngIf="!iltCourse.isPending; else spinnerTemplate"
      [course]="iltCourse.response"
      (publishCourse)="publishCourse($event)"
    ></leap-course-lxp-settings>
  </nz-tab>
</nz-tabset>

<ng-template #spinnerTemplate>
  <nz-spin class="spinner" nzSimple nzSize="large"></nz-spin>
</ng-template>
