<nz-tabset nzType="card" class="admin-panel__card-tabset" *ngIf="selfPacedCourse$ | async as selfPlacedCourse">
  <nz-tab nzTitle="Details">
    <leap-sp-course-general-details
      [selfPacedCourse]="selfPlacedCourse.response"
      *ngIf="!selfPlacedCourse.isPending; else spinnerTemplate"
    ></leap-sp-course-general-details>
  </nz-tab>
  <nz-tab nzTitle="LXP Settings" *ngIf="selfPlacedCourse.response.lxpCourses?.length">
    <leap-course-lxp-settings
      *ngIf="!selfPlacedCourse.isPending; else spinnerTemplate"
      [course]="selfPlacedCourse.response"
      (publishCourse)="publishCourse($event)"
    ></leap-course-lxp-settings>
  </nz-tab>
</nz-tabset>

<ng-template #spinnerTemplate>
  <nz-spin class="spinner" nzSimple nzSize="large"></nz-spin>
</ng-template>
